* {
    box-sizing: border-box;
    font: inherit;
}

@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'DungGeunMo', sans-serif;
    background-color: #eae8e3;
    color: #000;
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    letter-spacing: -0.1rem;
    text-align: center;
}

.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

h1 {
    font-size: clamp(1.6rem, 5vw, 3.4rem);
    margin: 0 0 50px;
}

/* Game screen */
#screen {
    width: min(100%, 800px);
    margin: 0 auto;
    padding: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


#screen .game>* {
    flex: 1 0 0;
    width: 100%;
    text-align: center;
}

#screen .game span {
    flex-grow: 0;
    font-size: 3rem;
}

#screen .nes-container {
    margin: -2px;
}

#screen .game,
.result {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
    text-align: center;
    padding: 40px;
    border-radius: 20px;
}


/* Game Result */
.result {
    font-size: 3rem;
    align-items: flex-end;
}

.result .nes-balloon {
    flex: 1 0 0;
    padding: 0;
    color: #000;
}

.result span {
    display: inline-block;
    text-align: center;
    width: 80px;
}

.result img {
    display: block;
    width: 48px;
    margin: 0 auto;
}

.score {
    width: 100%;
    text-align: center;
    background-color: #fff;
}

*[class*="item-"] {
    width: 6rem;
    height: 6rem;
    background-size: 56px;
    background-repeat: no-repeat;
    background-position: center;
}

.nes-container {
    margin: 0;
}

.selectItem,
.score.nes-container.is-rounded {
    width: 100%;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.score.nes-container.is-rounded {
    /* background: #f0f0ad;
    color: #000; */
    flex-direction: column;
    gap: 0px;
    border-radius: 16px;
}

.selectItem.hide,
.score.nes-container.is-rounded.hide {
    display: none;
}

/* Gama Item Select */
.item-paper {
    background-image: url('../asset/img/item-paper.png');
}

.item-rock {
    background-image: url('../asset/img/item-rock.png');
}

.item-scissors {
    background-image: url('../asset/img/item-scissors.png');
}

/*  Media query */
@media (max-width:425px) {
    #screen {
        padding: 20px;
    }

    #screen .game {
        padding: 20px 0;
    }

    .result {
        font-size: 1rem;
        padding: 0 0 40px;
    }

    .result .nes-balloon {
        font-size: 1.5rem;
    }

    .result span {
        width: 48px;
    }

    .result img {
        width: 32px;
    }

    .selectItem,
    .score.nes-container.is-rounded {
        height: 160px;
        gap: 12px;
    }

    .score.nes-container.is-rounded {
        border-radius: 8px;
    }
}